# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.pytest_cache/
.cache/

# Django stuff
*.log
local_settings.py
db.sqlite3
media/

# IDE settings
.vscode/
.idea/

# Environment variables
*.env

# MyPy / Type checker
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
*.iml
